h1{
    color:rgb(87, 39, 8);
}
#home-intro{
    text-align: center;
    border: 5px dashed #844e0b;
    padding: 20px;
    border-radius:20px;
    background-color:#FFFDF1;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}
#home-intro:hover{
    background-color: #FFCE99;
}
#p2{
    color:rgb(119, 54, 11);
}
#nav-bar{
    background-color: #FFCE99;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    text-align: center;
    margin-bottom: 5px;   

}
#nav-bar a{
    color:rgb(87, 39, 8);
    text-decoration: none;
    margin: 0 10px;
    font-weight: bold;
    text-align: center;
}
#nav-bar a:hover{
    color:rgb(119, 54, 11);
}

/* #card-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 20px;
} */
#card{
    background-color: #FFFDF1;
    border: 5px solid #844e0b;
    padding-bottom: 20px;
    border-radius: 20px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    width: 500px;
    max-width: 90%;
    margin: 20px auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}

#card-img{
    border-radius: 20px;
}

