.body-container{
    /* border: 3px solid crimson; */
    /* padding: 20px; */
    /* border-radius: 15px; */
    /* margin: 20px; */
    align-items: center;
    text-align: center;
}
.algo{
    text-align: center;
}
.nav-left{
    position: fixed;
    top: 0;
    left: 0;
    width: 65%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.nav-right{
    position: fixed;
    top: 0;
    right: 0;
    width: 65%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.artemis{
    font-family: 'Courier New', Courier, monospace;
    font-size: 60px;
    font-weight: bold;
    margin-top: 100px;
}

.tagline{
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    color: rgb(104, 104, 104);
    margin-top: 20px;
}
/* professional search-container */
.search-container{
    position: relative;
    width: 40%;
    margin: auto;
}

.search-box{
    width: 40%;
    padding: 15px 20px 15px 50px;
    border: 2px solid black;
    border-radius: 30px;
    font-size: large;
    box-sizing: border-box;
}

.lens{
    position: absolute;
    left: 18px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
    color: gray;
    pointer-events: none;
}
#suggestion-box{
    /* border: 1px solid black; */
    width: 40%;
    text-align: center;
    margin: auto;
    padding: 10px;
    margin-top: 10px;
}